/* Index.php */
body{
	width: 100%;
	align-items: center;
	text-align: center;	
	height: 100%;
	min-width: 100%;
	align-items: center;
	margin: 0;
}
#gmx{
	color: white;
}
#titulo{
	color: white;
}
#titulo_2{
	color: white;
	text-shadow: 0.01rem 0.01rem .5rem black;
}
#index_alerta{
	position: fixed;
}
#logar_button{
	display: none;
}
#cadastrar_button{
	display: none;
}
#botoes_index{
	width: 100%;
	position: relative;
}
hr{
	position: center;
	width: 150px;
	padding-left: 35%;
}
#hr_log{
	width: 65%;
}
#fundo{
	background-image: url("../img/fundo/primavera.png");
	background-position: 0px 0px;
	background-repeat: repeat;
	animation: animatedBackground 200s linear infinite;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
}
@keyframes animatedBackground {
	0% { background-position: 0 0; background-color: rgb(19, 25, 109); }
	25% { background-color: rgb(16, 23, 133); }
	50% { background-color: rgb(29, 37, 146); }
	75% { background-color: rgb(18, 22, 80); }
	100% { background-position: 100% 100%; background-color: rgb(19, 25, 109);}
}
/* Central.php */
.recorda_historic{
	position: absolute;
}
#historicos_{
	width: 100px;
	height: 100px;
}
#atalho_lateral{
	color: white;
	z-index: 3;
	position: fixed;
	width: 5%;
	height: auto;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 5px black;
	top: 40%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	right: 0px;
	-webkit-transition: background .5s, box-shadow .4s, width .3s;
	transition: background .5s, box-shadow .4s, width .3s;
}
#atalho_lateral:hover{
	background: rgba(255, 255, 255, .2);
	box-shadow: 0px 0px 10px white;
	width: 6%;
}
#puxador_lateral{
	border-top: 20%;
	color: white;
	position: fixed; 
	height: 100%;
	width: 100%;
	animation: puxa_lateral .5s;
	background-color: rgba(0, 0, 0, .8);
	box-shadow: 0px 0px 5px black;
	z-index: 3;
	display: none;
}
@keyframes puxa_lateral {
	0% { right: -100%; }
	100% { right: 0%; }
}
.usuarios_disponiveis{
	width: 35%;
	height: auto;
	position: absolute;
	right: 5%;
	top: 20%;
}
#usuarios_on_iframe_lateral{
	position: fixed;
	left: 1.5%;
	width: 98px !important;
	top: 60%;
	height: 100%;
	transform: scale(1.2);
	z-index: 3;
}
#imagem_pequeno_on{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.opcoes_puxa_lateral{
	width: 40%;
	height: auto;
	position: absolute;
	top: 20%;
	left: 5%;
}
._color_msg{
	background: url("../img/fundo/naves.png");
	border-radius: 15px;
	height: auto;
	position: relative;
}
#hr_mensagens{
	width: 65%;
}
#configura_lateral_central{
	position: absolute;
	width: 21%;
	height: 97.7%;
	background-image: url("../img/fundo/Update.png");
	left: 46%;
	top: 0%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	animation: brilha_configura .7s;
	box-shadow: 0px 0px 15px black;
	opacity: 1;
}
@keyframes brilha_configura {
	0% { opacity: 0; top: -100%; box-shadow: 0px 0px 0px black; }
	100% { opacity: 1; top: 0%; box-shadow: 0px 0px 15px black; }
}
h1#configura_lateral_{
	transform: rotate(90deg);
	height: 5px;
	font-size: 100px;
	position: absolute;
	top: 55%;
}
/* Texto do perfil na barra de tarefas */
.perfil{
	color: white;
}
/* Box do perfil */
#perfil{
	background-color: grey;
	display: none;
	width: 40%;
	height: 100%;
	animation: mostra_perfil .8s;
	padding-top: 0px;
	position: fixed;
	left: 0px;
	box-shadow: 0px 0px 25px black;
	z-index: 7;
	padding-top: 10%;
	border-bottom-right-radius: 10%; 
}
@keyframes mostra_perfil {
	0% { left: -2000px; background-color: rgba(0, 0, 0, .1); }
	75% { box-shadow: 0 0 0; }
	90% { left: -1600; box-shadow: 0px 0px 10px black; }
	100% { box-shadow: 0px 0px 25px black; }
}
img#img_perfil{
	border-radius: 50%;
	border: 10px solid white;
	width: 50% !important;
	height: 50%;
	box-shadow: 0px 0px 30px black;
	animation: sombra_perfil 4s;
	transform: scale(1);
}
@keyframes sombra_perfil{
	0% { box-shadow: 0px 0px 0px black; transform: scale(0.9); }
	100% { box-shadow:  0px 0px 30px black; transform: scale(1); }
}
#configura_perfil{
	padding-bottom: 0px;
	font-size: 20px;
	transform: scale(1);
	transition: .5s box-shadow, .5s transform, .5s background-color;
}
#configura_perfil:hover{
	background-color: white;
	transform: scale(1.1);
	box-shadow: 0px 0px 25px black;
}
#button_ok{
	font-size: 20px;
	transform: scale(1);
	transition: .5s box-shadow, .5s transform, .5s background-color;
}
#button_ok:hover{
	background-color: white;
	transform: scale(1.1);
	box-shadow: 0px 0px 25px black;
}
#fundo_perfil{
	z-index: 4;
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .7);
	/* animation-duration: 2s; */
}
#carrega_perfil{
	background-color: grey;
	display: none;
	animation: carrega_perfil .5s;
	position: fixed;
	height: 100%;
	width: 100%;
}
@keyframes carrega_perfil{
	0% { width: 0%; }
	100% { width: 100%; }
}
#offline{
	padding-top: 15%;
	width: 100%;
	height: 100%;
	padding-bottom: 25%;
	animation: offline 5s;
	animation-iteration-count: infinite;
	position: relative;
}
@keyframes offline{
	0% { background-color: black; }
	25% { background-color: #04071F; }
	50% { background-color: #040724; }
	75% { background-color: #010312; }
	100% { background-color: black; }
}
#nome_user{
	padding-top: 5%;
	color: white;
}
#guia_importa{
	display: none;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: url("../img/fundo/cosmos.png");
	background-color: rgba(0, 0, 0, .9);
	position: relative;
	padding-bottom: 69px;
}
.lista_importa{
	left: 30%;
	position: absolute;
	top: 10%;
	animation: desce_importa .4s;
}
@keyframes desce_importa{
	0% { top: -50%; }
	100% { top: 10%; }
}
#import_dia{
	z-index: 150;
	padding-top: 80px;
	text-align: center;
	align-items: center;
	position: relative;
}
.escolhe_arquiv_impt{
	padding-left: 18%; 
}
#import_img{
	opacity: .6;
	position: absolute;
	left: 0;
	z-index: 1;
	bottom: 0;
	width: 35%;
	height: 65%;
}
.loga{
	left: 50px;
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: rgba( 0, 0, 0, .4);
	position: absolute;
	width: 35%;
	height: auto;
	box-shadow: 0px 0px 50px black;
	border-bottom-right-radius: 15px;
}
#img_ind{
	float: right;
	position: relative;
	padding-right: 120px;
	padding-top: 120px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#seleciona{
	padding-left: 20px;
	list-style-type: none;
	margin: 15px;
	align-items: center;
	box-shadow: 0px 0px 15px black;
	z-index: 1;
	transform: scale(1);
	transition: .5s box-shadow, .5s transform, .5s background-color;
}
#seleciona:hover{
	background-color: white;
	transform: scale(1.1);
	box-shadow: 0px 0px 25px black;
}
.escolhe_blocos{
	align-items: center;
	text-align: center;
	color: grey;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 15px;
	z-index: 1;
	position: absolute;
	left: 25%;
	width: 50%;
	box-shadow: 1px 1px 25px black;
}
.escolhe_blocos_verificados{
	align-items: center;
	text-align: center;
	border-radius: 15px;
	z-index: 1;
	width: 98.6%;
	color: black;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#tempo_{
	animation: fadeIn_tempo 2s;
}
@keyframes fadeIn_tempo{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
#box{
	padding-left: 50px;
	color: red;
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: solid 1px 1px 15px black;
}
hr#loading_add{
	width: 15%;
	animation: carrega_barra 1s;
	text-shadow: -0.01rem 0.01rem 4rem;
}
@keyframes carrega_barra{
	0% { width: 0px; text-shadow: -0.01rem 0.01rem 0rem;}
	99% { width: 14.5%; }
	100% { width: 15%; text-shadow: -0.01rem 0.01rem 4rem;}
}
hr#loading_add2{
	width: 60%;
	animation: carrega_barra2 1s;
	text-shadow: -0.01rem 0.01rem 4rem;
}
@keyframes carrega_barra2{
	0% { width: 0px; text-shadow: -0.01rem 0.01rem 0rem;}
	100% { width: 59%; text-shadow: -0.01rem 0.01rem 4rem;}
}
#escolhe_quadro_add_{
	z-index: 3;
	width: 50%;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 15px black;
	text-shadow: 0rem 0rem .5rem black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.escolhe_quadro_add{
	display: inline;
	font-size: 20px;
	color: white;
	margin: 10px;
	transition: text-shadow .3s;
}
.escolhe_quadro_add:hover{
	text-shadow: 0rem 0rem .3rem white;
}
#usuarios_atribuidos{
	right: 10%;
	position: absolute;
	color: white;
}
#insere_atribuicao{
	width: 50%;
}
#atrib_msg{
	opacity: 0;
	color: white;
	animation: esconde_msg 4s;
	top: 12.5%;
	left: 33.5%;
	position: absolute;
}
@keyframes esconde_msg{
	0% { opacity: 0; top: 12.5%; }
	10% { opacity: 1; }
	90%{ opacity: 1; top: 12.5%; }
	100%{ opacity: 0; top: 8%;}
}
#debug_mode{
	position: fixed;
	top: 18%;
	right: .5%;
	z-index: 3;
	background-color: rgba(0, 0, 0, .3);
	color: white;
	box-shadow: 0px 0px 5px black;
	transition: .5s transform;
}
@keyframes anima_sombra{
	0% { box-shadow: 0rem 0rem 2rem yellow; }
	20% { box-shadow: 0rem 0rem 1.9rem yellow;}
	60% { box-shadow: 0rem 0rem 2.1rem yellow;}
	80% { box-shadow: 0rem 0rem 2.3rem yellow;}
	100% { box-shadow: 0rem 0rem 2rem yellow; }
}
@keyframes anima_sombra_black{
	0% { box-shadow: 0rem 0rem 2rem black; }
	20% { box-shadow: 0rem 0rem 1.9rem black;}
	60% { box-shadow: 0rem 0rem 2.1rem black;}
	80% { box-shadow: 0rem 0rem 2.3rem black;}
	100% { box-shadow: 0rem 0rem 2rem black; }
}
#debug_mode:hover{
	transform: scale(1.1);
}
#quadro_add{
	left: 0%;
	/* display: none; */
	z-index: 1;
	text-align: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0px 0px 50px black;
	border-radius: 25px;
	border-top-left-radius: 0px;
	height: 100%;
	width: 90%;
	right: 0%;
	top: 0%;
	animation-duration: .5s;
}
#quadro_add_user{
	left: 0%;
	z-index: 0;
	text-align: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0px 0px 50px black;
	border-radius: 25px;
	border-top-left-radius: 0px;
	height: 100%;
	width: 90%;
	right: 0%;
	top: 0%;
	animation-duration: .5s;
	display: none;
}
#quadro_add_historico_dia{
	left: 0%;
	z-index: 0;
	text-align: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0px 0px 50px black;
	border-radius: 25px;
	border-top-left-radius: 0px;
	height: 100%;
	width: 90%;
	right: 0%;
	top: 0%;
	display: none;
	animation-duration: .5s;
}
@keyframes abre_prancheta{
	0% { box-shadow: unset; opacity: 0; }
	100% { opacity: 1; }
}
@keyframes abre_prancheta2{
	0% { left: 120%; box-shadow: unset; opacity: 0; }
	99% { left: 0.5%; }
	100% { left: 0; opacity: 1; }
}
@keyframes abre_prancheta3{
	0% { left: -150%; opacity: 0; }
	100% { left: 0%; opacity: 1;}
}
#info{
	z-index: 1;
	text-shadow: -0.01rem 0.01rem 4rem;
	padding-right: 1%;
	left: 0%;
	border-top-left-radius: 5%;
	padding-left: 1%; 
	background-color: rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 45px black;
	width: auto;
	border-bottom-right-radius: 50px;
	position: absolute;
	animation: puxa_info .2s;
}
@keyframes puxa_info{
	0% { left: -100%; opacity: 0;}
	85% { left: -5%; opacity: 0;}
	100% { left: 0%; opacity: 1;}
}
.infos_rapidos{
	font-size: 15px;
}
#dia_impt{
	align-items: center;
	text-align: center;
	padding-top: 20px;
	text-shadow: -0.01rem 0.01rem 4rem;
	width: 23%;
	padding-left: 1%;
	right: 0%;
	position: absolute;
	float: right;
	height: auto;
	padding-right: 1%;
	background: rgba(0, 0, 0, .4);
	border-top-right-radius: 5%;
	border-bottom-left-radius: 50px;
	padding-bottom: 4%;
	box-shadow: -4px 5px 45px black;
	animation: puxa_historic .4s;
	transition: height 4s;
}
@keyframes puxa_historic{
	0% { top: -100%; opacity: 0;}
	85% { top: -5%; opacity: 0;}
	100% { top: 0%; opacity: 1;}
}
#dia_impta{
	display: none;
}
#estrela{
	width: 35px;
	height: 35px;
	text-shadow: -0.01rem 0.01rem 4rem;
}
#espiar_fundo{
	z-index: 2;
	position: absolute;
	right: 2%;
	top: 85%;
	text-shadow: 0rem 0rem .5rem white;
	animation: aparece_bloco .2s;
	opacity: 1;
}
@keyframes aparece_bloco{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes espia_fundo{
	0% { opacity: 1; }
	100% { opacity: .01; }
}
@keyframes guarda_fundo{
	0% { opacity: .01; }
	100% { opacity: 1; }
}
#espia_fundo_global{
	position: relative;
}
#add_dia{
	background-color: grey;
	z-index: 2;
	position: relative;
	padding-left: 8%;
	padding-top: 8.5%;
	width: 100%;
	align-items: center;
	text-align: center;
	padding-bottom: 50px;
}
#alinhadora{
	align-items: center;
	text-align: center;
	padding-left: 33%;
	width: 100%;
}
#alinhadora2{
	padding-left: 32%;
	width: 100%;
}
#alinhadora3{
	padding-left: 22%;
}
#estatisticas{
	position: relative;
	box-shadow: inset 0px 0px 50px black;
	padding-top: 65px;
	align-items: center;
	text-align: center;
	background-color: rgba( 0, 0, 50, .4);
	padding-bottom: 40px;
	height: auto;
	width: 100%;
}
#estatisticas::after{
	animation: animatedBackgroundEstatic 150s linear infinite;
	background: url("../img/fundo/Tijolos.jpg");
	content: "";
  	opacity: .5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;
}
@keyframes animatedBackgroundEstatic {
	from { background-position: 500 0; }
	to { background-position: 100% 100%; }
}
#botoes_op{
	z-index: 1;
	padding-top: 10px;
	position: relative;
	padding-bottom: 75px;
	width: 50%;
}
#verifica_dias{
	width: 1100px;
}
.botao_verifica_dia{
	background-color: white;
	box-shadow: inset 0px 0px 1px black;
	border: 10px;
	width: 20px;
	height: 20px;
	float: left;
}
#select_mes{ 
	box-shadow: inset 0px 0px 55px black;
	color: white;
	border-radius: 15px;
	background-color: rgba(7, 7, 48, .5);
	text-decoration: none;
	-webkit-transition: background .5s, box-shadow .5s, text-shadow .1s;
	transition: background .5s, box-shadow .5s, text-shadow .1s;
}
#select_mes:hover{
	text-shadow: 0.0rem 0.0rem 3rem;
	box-shadow: inset 0px 0px 5px;
	background: rgba(62, 31, 157, .4);
}
#select_ano{
	width: 49%;
	float: right;
	box-shadow: inset 0px 0px 75px black;
	color: white;
	align-items: center;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 15px;
	background-color: rgba(7, 7, 48, .9);
	text-decoration: none;
	transition: background .3s, box-shadow .5s, text-shadow .1s;
}
#select_ano:hover{
	box-shadow: inset 0px 0px 5px black;
	text-shadow: 0.1rem 0.1rem 2rem;
	background: rgba(8, 127, 246, .6);
}
#select_total{
	width: 49%;
	float: left;
	box-shadow: inset 0px 0px 75px black;
	color: white;
	align-items: center;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 15px;
	background-color: rgba(67, 19, 19, .9);
	text-decoration: none;
	transition: background .3s, box-shadow .5s, text-shadow .1s;
}
#select_total:hover{
	box-shadow: inset 0px 0px 3px black;
	text-shadow: 0.1rem 0.1rem 4rem;
	background: rgba(247, 7, 7, .8);
}
#separador_estatic{
	display: none;
	z-index: 0;
	position: relative;
	padding-top: 5%;
	width: 100%;
}
#section_for_smart_fone{
	display: none;
}
hr#click_anual{
	width: 15%;
}
#select_ano_old{
	font-family: Air Americana;
	position: relative;
	box-shadow: inset 0px 0px 150px black;
	color: white;
	align-items: center;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 15px;
	background-color: rgba(7, 7, 48, .6);
	text-decoration: none;
	transition: background .7s, box-shadow 1.2s, text-shadow .4s;
}
#select_ano_old:hover{
	box-shadow: inset 0px 0px 20px black;
	text-shadow: 0.1rem 0.1rem .8rem;
	background: rgba(5, 73, 142, .5);
}
#footer{
	position: relative;
	color: white; 
	padding-top: 5px;
	width: 100%;
	background-image: url("../img/Fundo/Floral.png");
	box-shadow: inset 0px 0px 50px black;
	background-color: rgba(26, 84, 116, .7);
	height: 15px;
	padding-bottom: 45px;
	bottom: 0;
}
#link{
	text-decoration: none;
	-webkit-transition: text-shadow .1s, color: .5s;
	transition: text-shadow .1s, color: .5s;
	color: white;
	outline: none;
}
#link:hover{
	color: yellow;
	outline: none;
	text-shadow: 0.0rem 0.0rem 2rem;
}
a#button_ok{
	background-color: #C2EEC2;
}
input{
	outline: none;
	border-color: white;
}
input[type="checkbox"]{
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
	transition: .5s;
}
input[type="checkbox"]:before{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: #fff;
	transform: scale(1.08);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
	transition: .5s;
}
input:checked[type="checkbox"]:before{
	left: 40px;
}
/* Estilo dos Botões */
.btn-custom {
	text-transform: uppercase;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 50px;
	margin-top: 20px;
	transition: all 0.3s;
}
/* Barra de Navegação */
#menu {
	background-image: url("../img/Fundo/Update.png");
	padding-bottom: 20px;
	transition: all 0.8s;
	box-shadow: 0px 0px 50px black;
}
#menu.navbar-default {
	background-color: rgba(0, 0, 0, .6);
	border-color: rgba(231, 231, 231, .1);
}
#menu a.navbar-brand {
	font-size: 5px;
	color: rgba(255,255,255,0.7);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
a.navbar_brand{
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 5%;
}
#navbar-header{
	position: absolute;
	width: 10%;
	text-decoration: none;
	text-align: center;
}
#navbar-header_central{
	position: absolute;
	animation: sobe_hora .5s;
}
@keyframes sobe_hora{
	0% { top: 50px; }
	100% { top: 0px; }
}
#menu a.navbar-brand i.fa {
	font-size: 10px;
	color: #54d0dd;
	vertical-align: top;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgba(255,255,255, 0.7);
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #54d0dd;
}
.on {
	background-color: #343b42 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #54d0dd !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #54d0dd;
	border-color: #54d0dd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	padding-bottom: 50px;
}